<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <filter class="com.mawsitsit.Service.StdOutFilter" />
        <encoder>
            <pattern>%-5level %d{ISO8601} %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <filter class="com.mawsitsit.Service.ErrOutFilter" />
        <encoder>
            <pattern>%-5level %d{ISO8601} %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="${LOG_LEVEL:-INFO}" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="STDERR" />
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="STDERR" />
    </root>
</configuration>